# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
      
      
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet publish -c release 
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Build Dockerfile
      if: matrix.os == 'ubuntu-latest'
      run: docker build . -t helloworld
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build ${{ runner.os }}
        path: bin/release
